<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
    <title>아이디 찾기</title>
</head>
<body>
    <form action="#" method="post">
        <div align="center">
            <table>
                <tr>
                    <th>이름</th>
                    <td><input type="text" id="userName"></td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td><input type="email" id="userPhone"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="button" id="btn_id">아이디 찾기</button>
                        <button type="button" onclick="window.close()">닫기</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        document.getElementById('btn_id').addEventListener("click", getId);
        function getId() {
            if((document.getElementById('userName').value == "") || (document.getElementById('userPhone').value == "")){
                swal({
                    icon: 'warning', // Alert 타입
                    title: '이름이나 이메일을 입력해주세요.',
                });
            }
        }
    </script>
</body>
</html>